
// Font
$h2-font-size: 19px;



// Body
$body-bg: #fff;


// Typography
$font-family-sans-serif: 'Montserrat', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$text-color: #636b6f;
$link-color: #fff;

// Navbar
$navbar-default-bg: #103750;
$navbar-link-color: #fff;

// Buttons
$btn-default-color: $text-color;

// Panels
$panel-default-heading-bg: #fff;
