// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";
// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.title-bar {
  border-bottom: solid 1px #ccc;
  margin-bottom: 20px;
}

.navbar-expand-md .navbar-nav li {
  margin-right: 20px;
}

ul.posts li {
  border-bottom: 1px dashed #CCC;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

ul.posts li:last-child {
  border-bottom: none;
}

ul.posts h2 {
  font-size: 19px
}